/* src/App.css */
.landing.jsx {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #880ED4 , #BC51F5, rgb(227, 149, 247));
    animation: gradient-animation 5s ease infinite;
    background-size: 180%;
    color: #400167;
  }
  
  @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  
  .stories {
    padding: 20px;
  }
  
  .content-wrapper {
    display: flex;
    padding: 20px;
  }
  
  /* Default styles for larger screens */
  .sidebar {
    width: 200px;
    margin-right: 20px;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 20px;
  }
  
  .feed-container {
    flex: 1;
    max-width: 600px;
  }
  
  .friends-list-container {
    width: 300px;
    margin-top: 20px;
  }
  
  /* Styles for small screens */
  @media (max-width: 768px) {
    .sidebar {
      width: 80px; /* Reduce sidebar width */
      margin-right: 5px; /* Reduce margin */
    }
    .sidebar-section h4 {
      margin-right: 10px;
      font-size: 14px;
    }
    .sidebar-icon {
      margin-left: -15px;
    }
  
    .main-content {
      flex-direction: column; /* Stack feed and friends list vertically */
    }
  
    .feed-container {
      max-width: none; /* Allow feed to use full width */
    }
  
    .friends-list-container {
      display: none; /* Hide friends list on small screens */
    }
  }
  
  .post {
    border: 1px solid #880ED4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
   
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-content img {
    max-width: 100%;
    border-radius: 10px;
  }
  


  